appdirs==1.4.2
Beaker==1.8.1
bleach==1.5.0
cffi==1.9.1
click==6.7
cycler==0.10.0
decorator==4.0.11
entrypoints==0.2.2
Glances==2.8.2
html5lib==0.9999999
imutils==0.3.10
iotop==0.6
matplotlib==0+untagged.1.g3bfa438
mistune==0.7.3
nbconvert==5.1.1
nbformat==4.2.0
notebook==4.4.1
numpy==1.12.0
packaging==16.8
pandocfilters==1.4.1
pbr==1.10.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
psutil==5.1.3
ptyprocess==0.5.1
pycparser==2.17
pydub==0.18.0
Pygments==2.2.0
pygobject==3.22.0
python-dateutil==2.6.0
pytz==2016.10
pyxdg==0.25
pyzmq==16.0.2
qtconsole==4.2.1
ranger==1.8.1
requests==2.13.0
scipy==0.18.1
simplegeneric==0.8.1
six==1.10.0
stevedore==1.20.0
terminado==0.6
testpath==0.3
tornado==4.4.2
traitlets==4.3.2
wcwidth==0.1.7
widgetsnbextension==1.2.6
xdg==1.0.3